<html>
    <head>
        <title>Sign Up</title>
        <link rel="stylesheet" href="~/css/reset.css">
        <link rel="stylesheet" href="~/css/site.css">
    </head>
    <body>
        <div class="container">
            <h1 class="heading">Sign Up</h1>
            <form class="form">
                <input class="field" type="email" placeholder="Email">
                <input class="field" type="password" placeholder="Password">
                <input class="field" type="password" placeholder="Confirm password">
                <input class="button" type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>
