@model SignUp.Models.UserModel
<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up</title>
        <link rel="stylesheet" href="~/css/reset.css">
        <link rel="stylesheet" href="~/css/site.css">
    </head>
    <body>
        <div class="container">
            <h1 class="heading">Sign Up</h1>
            <p>An error has occured.</p>
        </div>
    </body>
</html>
